@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: "Passion One", cursive;
    --fonte03: "Sriracha", cursive;
}

/* Globals */
a.link {
    font-size: 16px;
    font-weight: bolder;
    color: white;
    text-decoration: None;
}

a.link:hover {
    text-decoration: underline;
}

/* Header */
header > * {
    color: white;
    text-align: center;
}

header {
    background-color: black;
    padding: 50px;
}

header > h1 {
    font-family: var(--fonte02);
    font-size: 10vw;
}

header > h1 > span {
    font-size: 7vw;
}

header > p {
    font-family: var(--fonte01);
}

/* Main */
div#image01 {
    background-image: url("res/images/background001.jpg");
    background-position: right center;
}

div#image02 {
    background-image: url("res/images/background002.jpg");
    background-position: bottom left;
}

div.parallax {
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 8px 10px 0px rgb(0 0 0 / 37%);
}

div.parallax > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.419);
    padding: 5px;
}

main > * {
    font-family: var(--fonte03);
}

main > div {
    padding: 90px 40px;
}

main > div > p {
    padding-bottom: 81px;
    line-height: 2em;
    font-size: 3.5vw;
}

/* Footer */
footer {
    font-family: var(--fonte01);
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
}

footer > p {
    padding: 10px
}